.wrapper{
    width: 80%;
    margin: 0 auto;
}

.height {
    height: 80vh;
}

.img {
    width: 40px;
}

.profile-img {
    width: 80px;
}

.hidden {
    display: none;
}

.upload-btn {
    color: #00ffff;
    padding: 0.5rem 1rem;
    border-radius: 1.3rem;
    cursor: pointer;
    border: 1px solid #00ffff;
}